<div class='d-flex flex-column container'>
  <%= link_to 'Create new post', new_post_path, class: 'btn btn-dark col-sm-12 col-md-3 align-self-end mb-5' %>
  <%= render Posts::PostOverviewComponent.with_collection(@posts.ordered_by_created_at) %>
</div>
